.ga,
.ga * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.ga {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #555;
}

.ga a {
  color: #08c;
  text-decoration: none;
}

.ga a:hover {
  color: #005580;
  text-decoration: underline;
}

.ga input {
  width: 72px;
  height: 24px;
  margin-bottom: 5px;
  padding: 2px 5px;
  border: 1px solid #ccc;
  outline: none;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.ga-viewport {
  margin-bottom: 15px;
  padding: 1px;
  border: 1px dashed #aaa;
  background: #fff;
}

.ga-nav {
  margin-bottom: 15px;
}

.ga-brush {
  margin-bottom: 15px;
}

